<h1>Employees</h1>
<div>
    <mat-toolbar color="primary">
      <span>
        <button (click)="add()" color="primary" mat-button style="color: white">
          <mat-icon>add</mat-icon>
            Add new employee
        </button>
      </span>
    </mat-toolbar>
</div>
<div>
    <table [dataSource]="employeeDataSource" class="mat-elevation-z8 departments-table" mat-table>
        <ng-container matColumnDef="actions">
            <th *matHeaderCellDef class="w-75 th-center" mat-header-cell></th>
            <td *matCellDef="let element" mat-cell style="text-align: end">
                <button (click)="edit(element)" color="primary" mat-button>
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="delete(element)" color="warn" mat-button>
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell>Id</th>
            <td *matCellDef="let element" mat-cell> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell>Name</th>
            <td *matCellDef="let element" mat-cell> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="firstname">
          <th *matHeaderCellDef mat-header-cell>First Name</th>
          <td *matCellDef="let element" mat-cell> {{element.firstname}} </td>
        </ng-container>
        <ng-container matColumnDef="department">
          <th *matHeaderCellDef mat-header-cell>Department</th>
          <td *matCellDef="let element" mat-cell> {{element.department.id}} </td>
        </ng-container>
        <tr *matHeaderRowDef="columns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: columns;" mat-row></tr>
    </table>
</div>

