<div style="height: 100%; overflow: hidden">
  <div style="vertical-align: middle">
    <button (click)="drawer.toggle()" color="primary" mat-icon-button type="button">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="font-weight: bold; position: absolute; height: 48px; line-height: 48px;">
      {{ currentPage }}
    </span>

  </div>


  <mat-drawer-container class="timetracker-container">
    <mat-drawer #drawer [opened]="true" class="timetracker-sidenav" mode="side">
      <div>
        <div>
          <button (click)="navigateTo('about')" color="primary" mat-button>
            <mat-icon>help</mat-icon>Über</button>
        </div>
        <div>
          <button (click)="navigateTo('stempeln')" color="primary" mat-button>
            <mat-icon>code</mat-icon>Stempeln</button>
        </div>
      </div>
    </mat-drawer>

    <div class="timetracker-sidenav-content">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>
</div>

