<div style="height: 100%; overflow: hidden">
  <div style="vertical-align: middle">
    <button (click)="drawer.toggle()" color="primary" mat-icon-button type="button">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="font-weight: bold; position: absolute; height: 48px; line-height: 48px;">
      {{ currentPage }}
    </span>

  </div>


  <mat-drawer-container class="timetracker-container">
    <mat-drawer #drawer [opened]="true" class="timetracker-sidenav" mode="side">
      <div>
        <div>
          <button (click)="navigateTo('about')" color="primary" mat-button>
            <mat-icon>help</mat-icon>About</button>
        </div>
        <!-- <div>
          <button (click)="navigateTo('stempel')" color="primary" mat-button>
            <mat-icon>alarm</mat-icon>TimeTracker</button>
        </div> -->
        <div>
          <button (click)="navigateTo('departments')" color="primary" mat-button>
            <mat-icon>business</mat-icon>Departments</button>
        </div>
        <div>
          <button (click)="navigateTo('employees')" color="primary" mat-button>
            <mat-icon>badge</mat-icon>Employees</button>
        </div>
        <div>
          <button (click)="navigateTo('projects')" color="primary" mat-button>
            <mat-icon>code</mat-icon>Projects</button>
        </div>
        <div *ngIf="oAuthService.hasValidAccessToken()" style="margin-top: 50px">
          <button (click)="logout()" color="warn" mat-button>
            <mat-icon>logout</mat-icon>
            Logout
          </button>
        </div>
        <div *ngIf="!oAuthService.hasValidAccessToken()" style="margin-top: 50px">
          <button (click)="login()" color="warn" mat-button>
            <mat-icon>login</mat-icon>
            Login
          </button>
        </div>

      </div>
    </mat-drawer>

    <div class="timetracker-sidenav-content">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>
</div>
