.timetracker-sidenav-content {
  height: 1000px
}

.nav-button {
  padding-right: 5px
}

.navbar {
  background-color: blue;
  height: 50px;
}

.main {
  text-align: center;
  padding-left: 25px;
  padding-top: 25px
}
